  html, body, h1, h2, h3, h4, ul, ol, li, p, a {
    padding: 0;
    border: 0;
    margin: 0;
    font:inherit;
    font-size:100%;
  }
  body{
    padding:0px;
    background: #555555 url('images/bg-tile.png') top left repeat; 
    font-family: Garamond,Serif;
    font-size: 16px;
  }
  a{
    text-decoration: none;
    color:#440000;
  }
  p{
    color:#444444;
    margin-bottom: 10px;
    line-height:24px;
  }
  ol li{
    font-size: 20px;
  }
  li{
    margin-bottom: 5px;
    line-height:22px;
  }
  ul{
    padding-left: 30px;
  }
  ol{
    padding-left: 26px;
  }
  h1{
    color:#000000;
    margin: 15px 0 15px;
    font-family: Verdana,sans-serif;
    font-size: 32px;
    font-weight: bold;
   }
  h2{
    color:#333333;
    margin:20px 0 5px 0;
    border-bottom: 1px solid black;
    padding-bottom: 2px;
    font-family: Verdana,sans-serif;
    font-size: 22px;
    font-weight: bold;
  }
  h3{
    color:#666666;
    margin-top:10px;
    margin-bottom:10px;
    font-family: Verdana,sans-serif;
    font-size: 18px;
  }
  .nav li{
    display:inline;
    margin-right: 20px;
  }
  .nav li:last-child{
    margin-right:0;
  }
  .nav a{
    color:#ee932a;
  }
  ul.nav{
    padding:0;
    text-align: center;
  }
  .day-time{
    color:#444444;
    margin-bottom: 3px;
  }
  .concert-location{
    color:#888888;
    margin-bottom:15px;
  }
  .header{
    padding:15px;
    background: #242424 url('images/bg-header.png') top center no-repeat;
  }
  .header h1{
    text-align: center;
  }
  .content-section{
    padding:15px;
    width:450px;
    margin:0 auto 0 auto;
    background: #dddddd url('images/bg-content.png') top left repeat;
  }
  .content-section h1{
    text-align: center;
  }
  .album {
    border:2px dashed #bbbbbb;
    padding:10px 5px;
    margin-bottom: 5px;
    background-color:#ffffff;
  }
  .album img{
    display:block;
    float:right;
  }
  .bands-list a{
    color:#ff2244;
  }
  .bands-list li{
    border:1px solid #555555;
    background-color: #ffffff;
    height:120px;
  }
  .bands-list h2{
    border-bottom: 0;
  }
  .bands-list h3{
    border-bottom: 0;
    margin:0;
  }
  .bands-list img{
    display:block;
    float:left;
    padding-right: 15px;
  }
  ul.bands-list{
    list-style-type:none;
    padding-left:0;
  }
  .header img{
    display:block;
    margin:0 auto 15px auto;
  }
  .recording-now{
    width:440px;
    height:200px;
    background:#ffffff url('images/prependers-recording.jpg') center center no-repeat;
    border:1px solid #ee932a;
    padding:4px;
  }
  .recording-now p{
    color:#ffffff;
    font-size: 20px;
  }

  